<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Sub category</th>
      <th>Budget sub category</th>
      <th>Product name</th>
      <th>Product description</th>
      <th>Brand</th>
      <th>Current unit cost</th>
      <th>Warehoused quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.category %></td>
        <td><%= inventory.sub_category %></td>
        <td><%= inventory.budget_sub_category %></td>
        <td><%= inventory.product_name %></td>
        <td><%= inventory.product_description %></td>
        <td><%= inventory.brand %></td>
        <td><%= inventory.current_unit_cost %></td>
        <td><%= inventory.warehoused_quantity %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
