<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "category", "Category" %></th>
      <th><%= sortable "sub_category", "Sub category" %></th>
      <th><%= sortable "budget_sub_category", "Budget sub category" %></th>
      <th><%= sortable "product_name", "Product name" %></th>
      <th><%= sortable "product_description", "Product description" %></th>
      <th><%= sortable "brand", "Brand" %></th>
      <th><%= sortable "current_unit_cost", "Current unit cost" %></th>
      <th><%= sortable "warehoused_quantity", "Warehoused quantity" %></th>
      <th>Properties w/ inventory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.category %></td>
        <td><%= inventory.sub_category %></td>
        <td><%= inventory.budget_sub_category %></td>
        <td><%= inventory.product_name %></td>
        <td><%= inventory.product_description %></td>
        <td><%= inventory.brand %></td>
        <td class="text-center"><%= inventory.current_unit_cost_display %></td>
        <td class="text-center"><%= inventory.warehoused_quantity %></td>
        <td><%= inventory.properties.map(&:address).uniq.join(", ") %></td>
        <td><%= link_to 'Show', inventory %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
